$font-primary: 'Poppins', sans-serif;

$color-blue: #3442B5;
$color-darkBlue: #2A357F;
$color-yellow: #F7CA11;
$color-purple: #271C47;
$color-lightGrey: #9F9F9F;
$color-darkGrey: #3F3F40;
$color-white: #FFFFFF;
$color-extraLightGray: #F6F5F2;

