@use './variables' as vars;

.trademark-footer {
  width: 100vw;
  background-color: vars.$color-white;
  margin-left: calc(-1 * 80px);
  margin-right: calc(-1 * 80px);
  padding: 5px 0;

  &__container {
    max-width: calc(100% - 160px);
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 14px;
    color: vars.$color-darkGrey;
    text-align: center;
  }
}
